.specHeader {
    color: white;
    font-weight: bold;
    padding: 60px 30px;
    background-color: rgb(96.8%, 33.6%, 14.7%);
}

.specFooter {
    color: white;
    background-color: rgb(30.7%, 31.3%, 32.3%);
    padding: 50px 30px;
}

.specFooter button {
    background-color: rgb(30.7%, 31.3%, 32.3%);
    border: 1px solid white;
    border-radius: 5px;
}